
  <div class="container" >
    
    <div class="container1" style="text-align:left"><a target="_blank" rel="noopener" href="https://angular.io/tutorial">HOME</a></div>
    <div class="container2" style="text-align:center"><a target="_blank" rel="noopener" href="https://angular.io/cli">ARTICLES</a></div>
    <div class="container3"  style="text-align:right"><a target="_blank" rel="noopener" href="https://blog.angular.io/">AUDIO</a></div>
    
    <div>
      <h2>Join Us Today</h2>
      <p>Lorem ipsum dolor sit amet, consectetur</p>
    </div>
    <div class="caption">
      <img class="img1" src="\assets\images\images.png"  width="50" height="60">
    </div>
    <div>
      <img class="img2" src="\assets\images\prodcast.jpg"  width="50" height="60">
    
    </div>
    <div>
      <img class="img3" src="\assets\images\images (1).png"  width="50" height="60">
      
    </div>
    <div>
      <img class="img4" src="\assets\images\download (1).png"  width="50" height="60">
     
    </div>
    <div>
       <span class="heading1">Spend Time Smart</span>
       
    </div>
    <div>
      <span class="heading2">Audio Podcast</span>
    </div>
    <div>
      <span class="heading3">Boost your time</span>
    </div>
    <div>
      <span class="heading4">quality</span>
    </div>
  <div>
    <button type="submit" class="signupbtn">Sign Up</button>
    <button type="submit" class="loginbtn">login</button>
  </div>
  <div>
    <input class="input" type="text" placeholder="Search.." name="search">
  </div>
  
  </div>
  <router-outlet></router-outlet>




    
 

