<div class="mobile-container">
  
  <div class="topnav">
    <a href="#home" class="active"></a>
    <div class="name1"></div>
  <div class="name1"></div>
  <div class="name1"></div>
    
  </div >
  <div class="search">
    
    <input class="input" type="text" placeholder="Search.." name="search" style="background:url('/assets/images/images (2).png') no-repeat -38px 9px" >
  </div>
  <div class="buttonClass">
  <div>
    <a routerLink="/Home" routerLinkActive="active"><button class="button1">Home</button></a>
  </div>
  <div>
    <a routerLink="/MainHome" routerLinkActive="active"><button class="button2">Article</button></a>
    <!-- <button class="button2" (click) = "navigate1()">Article</button> -->
  </div>
  <div>
    <a routerLink="/MainHome" routerLinkActive="active"><button class="button3">Audio</button></a>
    <!-- <button class="button3" (click) = "navigate1()">Audio</button> -->
  </div>
  </div>
  </div>
  
    <router-outlet></router-outlet>