<div class="mobile-container">

  <div class="background">
    <div class="name1"></div>
    <div class="name1"></div>
    <div class="name1"></div>
  </div>
  
    
  

  <div class="container">
    <div class="Heading">
      <h2>Join Us Today</h2>
    </div>
    <div>
      <img class="img1" src="\assets\images\images.png"  width="50" height="60">
      <span class="heading1">Spend Time Smart</span>
    </div>
    <div>
    <img class="img2" src="\assets\images\prodcast.jpg"  width="50" height="60">
    <span class="heading2">Audio Podcast</span>
    </div>
    <div>
      <img class="img3" src="\assets\images\images (1).png"  width="50" height="60">
      <span class="heading3">Boost your time</span>
    </div>
    <div>
      <img class="img4" src="\assets\images\download (1).png"  width="50" height="60">
      <span class="heading4">quality</span>
    </div>
    <div>
      <button type="submit" class="signupbtn">Sign Up</button>
      <button type="submit" class="loginbtn">login</button>
    </div>
  </div>
</div>
